@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: var(--color-white);
  --primary-hover: var(--color-stone-100);
  --secondary: var(--color-stone-300);
  --secondary-hover: var(--color-pewter);
  --accent: var(--color-sunset);
  --accent-hover: var(--color-dawn);
  --background: var(--color-background);
  --background-hover: var(--color-stone-800);
  --foreground: var(--color-dove);
  --foreground-hover: var(--color-white);
  --card: var(--color-charcoal);
  --border: var(--color-umbra);
  --input: var(--color-fog);
  --scroll-track-color: var(--color-charcoal);
  --scroll-thumb-color: var(--color-jet);
}

.html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
